# MacOS
.DS_Store

# typescript
*.tsbuildinfo
next-env.d.ts

# NPM
node_modules
package-lock.json

# Runtime files
/storage

# Website
/website/builds
/apache/_next
/meilisearch/data.ms
/website/out/

# Strapi
/strapi/builds
/strapi/.strapi
/strapi/config/.server.ts.swp
/strapi/dist
/strapi/.strapi-updater.json

# Secrets
*.private
