[Unit]
Description=Meilisearch for Edukacja Filozoficzna
After=network.target

[Service]
Type=simple
User=${USER}
Restart=on-failure
WorkingDirectory=${REPO}/meilisearch
EnvironmentFile=${REPO}/envs/masterkey.env.private
ExecStart=${REPO}/meilisearch/meilisearch

[Install]
WantedBy=multi-user.target
